<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <form>
            <div class="form-group col-sm-12" style="
                                                        padding-right: 30px;
                                                        padding-left: 0;
                                                    ">
                <div class="icon-addon addon-lg">
                    <input type="search" id="search" name="search" ng-model="search" class="form-control inmate-search-box" placeholder="Search Inmates">
                    <label for="search" class="fa fa-search" rel="tooltip" title="Search"></label>
                    <a ui-sref="inmates.search({q: search})" class="btn btn-default search-btn"><span class="fa fa-paper-plane"></span></a>
                </div>
            </div>
        </form>

        <div ui-view></div>

    </div>

</div>