<div class="row" style="margin-top: 50px">
    <div class="col-md-8 col-md-offset-2">
        <form action="" class="form-horizontal">
            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

            <h3>Cell Blocks</h3><hr/>
            <div class="form-group">
                <label for="cellCount" class="col-sm-3"><strong>Block A</strong></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cellCount" placeholder="Number of Cells"/>
                </div>
                <div class="col-sm-offset-10 col-sm-2" style="margin-top: 5px">
                    <button class="btn btn-default btn-sm">Add</button>
                </div>
            </div>
            <br/>

            <h3>Inmates Arrangement</h3><hr/>
            <div class="form-group">
                <label for="cellCount" class="col-sm-3"><strong>Per Cell</strong></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cellCount"/>
                </div>

            </div>
            <br/>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" class="btn btn-success btn-lg" value="Save"/>
                </div>

            </div>
        </form>
    </div>
</div>