<div class="text-center">
    <h2>Ticket Creation Completed</h2>

    <div class="text-center">
        <span class="device-reward">All Done!</span>

        <div class="row">
            <div class="col-sm-3">
                <a ui-sref="ticket.add.stepOne" class="btn btn-success btn-block btn-base">New Ticket</a>
            </div>
            <div class="col-sm-3">
                <a ui-sref="ticket.add.new" class="btn btn-success btn-block btn-base">Go To Menu</a>
            </div>
        </div>
    </div>
</div>