

<div class="inmates-menu-items">
    <div class="menu-item inmate-item" ng-repeat="item in result">
        <img src="http://placehold.it/100x100" class="img-responsive inmate-pic" alt=""/>
        <div class="inmate-bio">
            <h4> {{ item.name}}</h4>
            <h4> {{ item.number}}</h4>
            <p><span class="fa fa-clock-o"></span> 2 Months left</p>
        </div>
    </div>

</div>

<nav>
    <ul class="pager search-result-pager">
        <li><a href="#"><span class="fa fa-chevron-left"></span></a></li>
        <li><a href="#"><span class="fa fa-chevron-right"></span></a></li>
    </ul>
</nav>