<div class="steps-nav">
    <ul class="steps-bar">
        <li><a ui-sref-active="active" ui-sref="ticket.add.stepOne"><span>Step One</span></a></li>
        <li><a ui-sref-active="active" ui-sref="ticket.add.stepTwo"><span>Step Two</span></a></li>
        <li><a ui-sref-active="active" ui-sref="ticket.add.stepThree"> <span>Step Three</span></a></li>
        <li><a ui-sref-active="active" ui-sref="ticket.add.final"><span>Finish</span></a></li>
    </ul>
</div>

<div>
    <div class="slide" ui-view></div>
</div>