<div class="text-center">

    <div class="processing-ticket" ng-if="isCreatingTicket">
        <h2>Please Wait while device is graded.....</h2>

    </div>

    <div class="alert alert-danger error" ng-if="creationError">
        <p>Error occurred while creating ticket, try again.</p>
    </div>

    <div class="device-grade" ng-if="!isCreatingTicket">
        <div class="alert alert-info">
            <p>Ticket created Successfully <span><strong>{{ ticket.hashcode }}</strong></span></p>
        </div>

        <h2>Device Grade</h2>

        <div class="text-center">
            <span class="device-grade" ng-bind="ticket.grade"></span>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button ng-click="nextStepEvaluation()" class="btn btn-success btn-block">Proceed To Value Evaluation</button>
                </div>
            </div>
        </div>
    </div>


</div>